<!-- <div class="card animated fadeIn fast">
    <img src="assets/producto.png" class=" card-img-top img.img-fluid " alt="Card image cap ">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text ">{{ product.description }}</p>
        <h6 class="card-text text-muted "> $ {{ product.price }}</h6>

        <button type="button " class="btn btn-outline-primary"> View more...</button>
    </div>
</div> -->

<div class="card">
    <h5 class="card-header">{{ product.name }}</h5>
    <div class="card-body">
        <h6 class="card-title text muted">{{ product.description }}</h6>
        <p class="card-text"> $ {{ product.price }}</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>