<main class="py-2 fadeIn fast">
    <section id="listado" class="mb-5">
        <div class="container">
            <button class="btn btn-outline-primary mb-4" [routerLink]="['/category/add']">New Category</button>
            <table class="table table-striped ">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col ">#</th>
                        <th scope="col ">Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categoryList ">
                        <th scope="row ">{{ category.productCategoryId }}</th>
                        <td scope="row ">{{ category.description}} </td>
                        <td><img src="assets/view.png" [routerLink]="[ '/category/view/', category.productCategoryId] "></td>
                        <td><img src="assets/edit.png" [routerLink]="[ '/category/edit/', category.productCategoryId] "></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>